.header {
    width: 100%;
    background-color: rgb(87, 87, 141);

}

.header-display{
	display: grid;
	grid-template-columns: 25% 50% 25%;
}
  


@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

.header-Image{
  width: 25%;
  border-radius: 15px;
  float: left;
  margin-left: 25%;
}

.header-Search {
  display: inline-block;
  position: relative;
  margin-top: 4.5%;
}

.header-Search-input {
	width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px #aeaeae;
}

.header-Search-input:focus{
  outline: none;
	box-shadow: 0 0 10px green;
}

.header-Search-button {
  background-color: rgb(85, 85, 146);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: -20px;
  transition: .9s ease;
}

.header-Search-button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(99, 115, 186);
}

.header-icons{
	width: 100%;
	margin-top: 45px;
	float: right;
    margin-left: 125px;
    display: flex;
    gap: 40px;
    font-size: 22px;
}


.nombre-tienda{
  
  display: flex;
  justify-content: center;
}