.header-auxiliar{
    width: 100%;
    background-color: #57578D;
    display: flex;
    justify-content: space-between; /* Distribuye elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding-right: 80px; /* Espaciado interno */
    padding-left: 80px;
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}


/* Estilo del logo */
.header-auxiliar-Image {
    height: 150px;
    width: 150px;
    margin: 0 auto; /* Centra el logo horizontalmente */
}

/* Contenedor del icono de usuario */
.usuario {
    display: flex;
    align-items: center;
}

/* Icono de usuario */
.color-icono-auxiliar {
    color: rgb(255, 255, 255);
    font-size: 1.5rem; /* Ajusta el tamaño */
    
}

.home-icono-auxiliar{
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
}
