*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
}

.personal-Card{
  background-color: white;
  width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.personal-Image{
  width: 100%;
  border-radius: 15px;
}

.cardDescription{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}


.cardPrice{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.favoritosHeart{
  font-size: 25px;
  color: grey;
  transition: color 0.3s;
  cursor: pointer;
  color: red;
}

.favoritosHeart.favorito {
  color: red;
}

.link-producto-individual{
  text-decoration: none;
}