.bodyAppRetro{
    display: grid;
    grid-template-columns: repeat(3, 33.34%);
}

.titulo-alineacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-favoritos{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
}
  
.titulo-favoritos::before {
    margin-left: auto;
}
  
.titulo-favoritos::after, .titulo-favoritos::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #E3001B;
    display: block;
    transition: 0.5s;
}
  
.titulo-favoritos:hover::after, .titulo-favoritos:hover::before {
    width: 100%;
}

@media screen and (max-width: 939px){
    .bodyAppRetro{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (min-width: 939px) and (max-width: 1374px){
    .bodyAppRetro{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    } 
}