/* Reset global y evitar scroll horizontal */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal */
}

/* Estilos base para el contenedor de descripción */
.descripcion-container {
  padding: 20px;
  background-color: #f8f8f8a4;
  border-radius: 8px;
  max-width: 90%; /* Se mantiene dentro del 90% del viewport */
  margin: 70px auto; /* Centrado vertical con márgenes superior e inferior */
  text-align: justify;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
 
.descripcion-container h2 {
  color: #333;
  margin-bottom: 15px;
  text-align: left;
  font-size: 40px;
}
 
.descripcion-container p {
  color: #666;
  line-height: 1.6;
  text-align: justify;
  font-size: 20px; /* Tamaño de texto ajustado */
  margin-top: 20px;
}

/* Media Query para pantallas de hasta 768px (tablets y móviles pequeños) */
@media (max-width: 768px) {
  .descripcion-container {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .descripcion-container h2 {
    font-size: 1.5rem;
  }

  .descripcion-container p {
    font-size: 1rem;
  }
}

/* Media Query para móviles (hasta 480px) */
@media (max-width: 480px) {
  .descripcion-container {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .descripcion-container h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .descripcion-container p {
    font-size: 1rem;
    text-align: justify;
  }
}
