.div-externo-certificacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-interno-certificacion {
    background-color: #57578D;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-certificacion {
    width: 300px;
    height: auto;
    
}

@media (max-width: 768px) {
    #img-certificacion {
      width: 200px;
    }
  }

  @media (max-width: 480px) {
    #img-certificacion {
      width: 150px;
    }
  }