.boton-comprar-p-i{
    width: 250px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    background-color: #57578D;
    border: 0.1px solid black;
    color: white;
    transition: 0.8s;
}

.boton-comprar-p-i:hover{
    background-color: #adade9;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .boton-comprar-p-i{
        width: 150px;
    }
}