.boton-comprar-p-i{
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    background-color: #D9D9D9;
    border: 0.1px solid black;
}

.boton-comprar-p-i:hover{
    background-color: #c9c9c9;
    cursor: pointer;
}