@font-face {
  font-family: 'LV';
  src: url('../src/fonts/futura-std-book.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'LV', sans-serif;
}

html, body {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-family: 'Arial', sans-serif;

  user-select: none;
}

.pagina-principal {
  padding-bottom: 50px;
  background-color: white;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

