*{
    margin: 0;
    padding: 0;
  }
  
  html, body{
    font-size: 18px;
  }
  
  .personal-Card{
    background-color: rgb(109, 93, 162);
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.);
  }
  
  .personal-Image{
    width: 100%;
    border-radius: 15px;
  }
  
  .cardDescription{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .cardPrice{
    margin-top: 10px;
    font-size: 18px;
  }